hosted_zone_name = "neatfleets-services.com"
record_name      = "dr.neatfleets-services.com"
# key_name = "your-shared-key-name"
primary_key_name = "ansible-key"
dr_key_name      = "london-key-pair"
instance_type = "t3.micro"
# notification_email = "you@example.com"
